<apex:page sidebar="false" showHeader="false" standardStylesheets="false" controller="M68C_Controller" action="{!onLoad}">
    <html>
        <head>
            <style>
                body{
                font-family: arial, sans-serif;
                }
                table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 90%;
                margin:0 auto;
                }
                
                td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
                }
            </style>
        </head>        
        <body>
            <div class="header" style="text-align:center">
                <h2 style="color:#6bc4d5">
                    ANALYSIS OF BALANCE SHEET
                </h2>
            </div>   
            <table>
                <tr>
                    <th>M/sXXXXX</th>
                    <th>Branch:</th>
                    <th>YYYY</th>
                    <th></th>
                    <th colspan="2">RS in lacs</th>
                </tr>
                <tr>
                    <th rowspan="2">LIABILITIES</th>
                    <th>31.03.17</th>
                    <th>31.03.18</th>
                    <th rowspan="2">ASSETS</th>
                    <!--<th>31.03.15</th>
<th>31.03.16</th>-->
                    <th>31.03.17</th>
                    <th>31.03.18</th>
                </tr>
                <tr>
                    <th>Audited</th>
                    <th>Estimated</th>
                    
                    <!--<th>Audited</th>
<th>Audited</th>-->
                    <th>Audited</th>
                    <th>Estimated</th>
                </tr>
                <tr>
                    <th colspan="1">Current Liabilites:</th>
                    <th ></th>
                    <th></th>
                    <th colspan="1">Current Assets:</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th colspan="1">Bank borrowings</th>
                    <th id="bbAudit"></th>
                    <th id="bbEst"></th>
                    <th>Cash and bank balances</th>
                    <th id="cbbAudit"></th>
                    <th id="cbbEst"></th>
                </tr>
                <tr>
                    <th colspan="1">Sundry creditors</th>
                    <th id="scAudit"></th>
                    <th id="scEst"></th>
                    <th>Inventories</th>
                    <th id="invAudit"></th>
                    <th id="invEst"></th>
                </tr>
                <tr>
                    <th colspan="1">Sundry creditors - finance</th>
                    <th id="scfAudit"></th>
                    <th id="scfEst"></th>
                    <th>Sundry debtors</th>
                    <th id="sbAudit"></th>
                    <th id="sbEst"></th>
                </tr>
                <tr>
                    <th colspan="1">Sundry creditors - expanse</th>
                    <th id="sceAudit"></th>
                    <th id="sceEst"></th>
                    <th>Advances and deposits</th>
                    <th id="adAudit"></th>
                    <th id="adEst"></th>
                </tr>
                <tr>
                    <th colspan="1">Provisions</th>
                    <th id="proAudit"></th>
                    <th id="proEst"></th>
                    <th>Advance to suppliers</th>
                    <th id="atsAudit"></th>
                    <th id="atsEst"></th>
                </tr>
                <tr>
                    <th colspan="1">Term Loan &lt;1 yr</th>
                    <th id="tlAudit"></th>
                    <th id="tlEst"></th>
                    <th>Bank Deposits</th>
                    <th id="bdAudit"></th>
                    <th id="bdEst"></th>
                </tr>
                <tr>
                    <th>Other current liabilities</th>
                    <th id="oclAudit"></th>
                    <th id="oclEst"></th>
                    <th>Other current assests</th>
                    <th id="ocaAudit"></th>
                    <th id="ocaEst"></th>
                </tr>
                <tr>
                    <th colspan="1">CL others 1</th>
                    <th id="cl1Audit"></th>
                    <th id="cl1Est"></th>
                    <th>OCA1</th>
                    <th id="oca1Audit"></th>
                    <th id="oca1Est"></th>
                </tr>
                <tr>
                    <th colspan="1">CL others 2</th>
                    <th id="cl2Audit"></th>
                    <th id="cl2Est"></th>
                    <th>OCA2</th>
                    <th id="oca2Audit"></th>
                    <th id="oca2Est"></th>
                </tr>
                <tr style="background:#f4ca41">
                    <th colspan="1">Total Current Liabilities</th>
                    <th id="tclAudit">0.0</th>
                    <th id="tclEst">0.0</th>
                    <th>Total Current Liabilities</th>
                    <th id="tcaAudit">0.0</th>
                    <th id="tcaEst">0.0</th>
                </tr>
            </table>
            <table style="margin-top:40px">
                <tr>
                    <th rowspan="1">TERM LIABILITIES</th>
                    <th style="color:#fff"></th>
                    <th style="color:#fff"></th>
                    <th rowspan="1">FIXED ASSETS</th>
                    <!--<th>31.03.15</th>
<th>31.03.16</th>-->
                    <th style="color:#fff"></th>
                    <th style="color:#fff"></th>
                </tr>
                <tr>
                    <th colspan="1">Term loan - Banks and Fis</th>
                    <th></th>
                    <th></th>
                    <th>Land &amp; Building</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th colspan="1">other TL</th>
                    <th></th>
                    <th></th>
                    <th>Plant &amp; Machinery</th>
                    <th></th>
                    <th></th>
                    
                </tr>
                <tr>
                    <th colspan="1">Unsecured loans F &amp; R (QE)</th>
                    <th></th>
                    <th></th>
                    <th>Vehicles</th>
                    <th></th>
                    <th></th>
                    
                </tr>
                <tr>
                    <th colspan="1">other term liabilities/Chits</th>
                    <th></th>
                    <th></th>
                    <th>Others</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr style="background:#f4ca41">
                    <th colspan="1">Total Term Liabilities</th>
                    <th>0.0</th>
                    <th>0.0</th>
                    <th>Total Fixed</th>
                    <th>0.0</th>
                    <th>0.0</th>
                </tr>
                <tr style="background:#f4ca41">
                    <th colspan="1">Total Outside Liabilities</th>
                    <th>0.0</th>
                    <th>0.0</th>
                    <th>Non-Current Assets</th>
                    <th>0.0</th>
                    <th>0.0</th>
                    
                </tr>
            </table>    
        </body>
    </html>
    <script>
    var dataSet = {!dataSet};
    //console.log(dataSet);
    //console.log(dataSet.length);
    var dataSetList = [];
    for(var dCount= 0 ; dCount < dataSet.length; dCount++){
        var dt = new Object();
        dt.name = dataSet[dCount].name;
        dt.audited = dataSet[dCount].prevAudited;
        dt.estimated = dataSet[dCount].prevFY;
        dataSetList.push(dt);
    }
    //console.log(dataSetList[0]);
    /*console.log(dataSetList);
    document.getElementById("bbAudit").innerHTML = dataSetList[0].audited;
    document.getElementById("bbEst").innerHTML = dataSetList[0].estimated;*/
    var reDataSet = {!repDataSet};
    console.log(reDataSet);
    console.log(reDataSet.Bank_Borrowings__c);
    
    </script>
</apex:page>